body{
    
}

#loginBox{
    /* Styling for login  box */

    top:150px;
    background-color:white;
    width:280px;
    padding:70px 30px;
    margin:auto;
    position:relative;
    
}

#loginButton{/*styles the login button*/
    margin-left:auto;
    margin-right:auto;
}

.inputBar{
    bottom:300px;
    width:200px;
    height:25px;
    margin:10px;
}

#logo{/*Style for the logo*/
    font-size:32px;
    font-weight:bold;
}

.header{
    position:absolute;
    width:100%;
    color:black;
    top:0;
    background-color:rgb(0, 61, 153);
}

#footer{
    position:absolute;
    width:100%;
    color:black;
    bottom:0;
    background-color:rgb(0, 61, 153);
}

li{
    display:inline-block;
    font-size:20px;
    padding:10px 20px;
    text-align:center;
    margin:-1px;
    float:left;
}

li:hover{
    background-color: rgb(0, 61, 153);
    
}

li.logo:hover{
    background-color:white;
}

ul{
    margin:0;
    background-color:rgb(0,153,255);
    overflow: hidden;
}

#panel, #flip {
    padding: 5px;
    width:95%;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(0,153,255);
  }

#panel {
    padding: 10px;
    background-color: rgb(242, 242, 242);
    display:none;
    color:black;
  }

  .cards{
      color:black;
  }

  .divider{
      margin:10px;
  }

  #formsSelect{
      width:100px;
      margin:50px;
  }

  .formsRow{
      color:white;
      width:98%;
      background-color:rgb(0, 61, 153);
      margin:15px;
  }

  #profileList{
      /*WARNING WARNING
      DO NOT SET DISPLAY TO BLOCK AS IT STACKS BOOTSTRAP COLUMN ON TOP OF EACH OTHER
      ONLY USE DEFAULT
      */
      display:default;
  }

  .dataTable{
      display:none;/*For displaying the data in tabular format*/
  }

  th{
      background-color:rgb(0, 61, 153);
      color:white;
  }

  td{

  }
